@import "tailwindcss";



@theme  {
  --font-prompt : "Prompt",sans-serif;
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* Primary */
  --color-primary-300: oklch(0.6843 0.0833 142.02);
  --color-primary-500: oklch(0.5139 0.1222 141.73);
  --color-primary-700: oklch(0.3556 0.1086 141.79);

  /* Secondary */
  --color-secondary-300: oklch(0.9654 0.0608 102.43);
  --color-secondary-500: oklch(0.9204 0.1468 103.43);
  --color-secondary-700: oklch(0.6547 0.0855 102.98);

  /* Neutral */
  --color-neutral-300: oklch(0.9901 0.0034 247.86);
  --color-neutral-500: oklch(0.9767 0.0119 106.62);
  --color-neutral-700: oklch(0.7723 0.0195 106.85);

  /* Success */
  --color-success-300: oklch(0.8806 0.1228 150.99);
  --color-success-500: oklch(0.7356 0.1784 145.93);
  --color-success-700: oklch(0.5355 0.1243 146.59);

  /* Cancel (spelling corrected) */
  --color-cancel-300: oklch(0.8973 0.0014 106.43);
  --color-cancel-500: oklch(0.5848 0.0075 106.63);
  --color-cancel-700: oklch(0.3632 0.0034 106.57);

  /* Error */
  --color-error-300: oklch(0.8005 0.0928 20.14);
  --color-error-500: oklch(0.6205 0.2003 25.78);
  --color-error-700: oklch(0.4915 0.1821 27.93);

  /* Chart */
  --color-chart-pink: oklch(0.6407 0.2054 352.56);
  --color-chart-cyan: oklch(0.7976 0.1204 215.85);
  --color-chart-orange: oklch(0.6933 0.1797 49.4);


  /* Text */
  --color-text-800: oklch(0.2739 0.0055 286.03);

  /* Etc. */
  --color-white:oklch(1 0 0);
  --color-gray-v1:oklch(0.9702 0 0); /*F5F5F5*/
  
}




.leaflet-tile {
  image-rendering: pixelated;
  background-color: transparent;
}







